body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    text-align: center;
}

.container div{
    line-height: 1.1 !important;
}

.container h1 {
    font-weight: bold;
    font-size: 3rem;
    backdrop-filter: blur(10px);
}

.container div, .container h1, ul{
    opacity: 0;
}

.nav-link{
    text-decoration: none;
    color: black !important;
}

.active{
    color: black !important;
}

.bg{
    background-image: url(background.jpg);
    background-size: cover;
}

.bg div:nth-child(1){
    border-radius: 10px;
    box-shadow: 0px 0px 50px black;
    backdrop-filter: blur(50px);
}