@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #000000 !important;
  color: white !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 !important;
  padding: 0 !important;
}

body::-webkit-scrollbar {
  display: none;
}

h5 {
  line-height: 0.1 !important;
  color: #27debf !important;
}

.d-none {
  width: 0 !important;
  height: 0 !important;
}

#name {
  scale: 150%;
}

#icon_container {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  scale: 250%;
}

#icon {
  color: hsl(170, 73%, 41%);
}

#icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  footer {
    padding-top: 5rem;
  }
}

@media only screen and (min-width: 1000px) {
  footer {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -15vh;
    left: 50%;
  }
  #main_div {
    padding-top: 5rem !important;
  }
}
