body{
    font-family: 'Poppins', sans-serif;
    background-color: #578CB3;
}

#phone_info{
    display: none;
}

.btn{
    width: 100%;
    font-weight: bold;
}

.root{
    width: 100vw !important;
    height: 100vh !important;
    margin: 0;
    padding: 0;
}

.calculator{
    width: 50%;
}

.col{
    border: 1px solid black;
}

.white{
    color: white !important;
}

@media only screen and (max-width: 1400px) {
    #info{
        display: none;
    }
    #phone_info{
        display: block;
        margin: 10px;
    }
    .link{
        padding: 5px;
        border-radius: 10px;
        background-color: black;
        color: white;
    }
}
