body{
    font-family: 'Poppins', sans-serif;
    background-color: #6CB7E5;
}

.container{
    border-radius: 10px;
}

.alert{
    text-align: center;
}

.add, .list, .alert{
    width: 70%;
}

.list{
    background-color: #15374D;
    border-radius: 10px;
}

.list div{
    background-color: #397599;
    border-radius: 10px;
}

.white::-webkit-input-placeholder{
    color: white !important;
}
.white{
    color: white !important;
}

.black::-webkit-input-placeholder{
    color: black !important;
}
.black{
    color: black !important;
}