body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #0a0a0a;
}

body::-webkit-scrollbar {
  display: none;
}

#about {
  height: 90vh;
  outline: 1px dashed white;
  outline-offset: -1vw;
}

main {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3rem;
  color: white;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 770px) {
  h1 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 0.7rem;
  }
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1em;
}

article {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto Mono", monospace;
}

footer {
  width: 100vw;
  height: 10vh;
  background-color: #090909;
}

img:hover {
  cursor: pointer;
}

main {
  color: white;
}

#arrow {
  width: 5%;
}

.none {
  visibility: hidden;
}

pre div {
  margin: 0 !important;
  padding: 0 !important;
}

pre div:hover {
  background: rgb(255, 224, 46);
  background: linear-gradient(
    90deg,
    rgba(255, 224, 46, 1) 0%,
    rgba(154, 177, 254, 1) 100%
  );
  color: black;
  cursor: text;
}

pre div:hover > #fldv {
  background-color: #ffe02e;
  color: black !important;
}

.project:hover {
  transform: scale(105%);
}

pre {
  font-size: 2em;
}

.cursornone {
  cursor: context-menu !important;
}
@media only screen and (max-width: 1000px) {
  #about {
    width: 100vw !important;
  }
  pre {
    font-size: 0.6em;
  }
  pre img {
    width: 15%;
  }
}

#line {
  height: 95vh;
  border: 1px solid white;
}
